body{
    background-image: url('pexels-alotrobo-1124002.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.Blue-Mail{
    color: aqua;
    font-weight: bold;
    font-size: 150%;
    font-family:'Lucida Handwriting','Brush Script MT'
}
.email-block{
    color: aqua;
    padding: 10px;
    
}
.inbox-feed{
    font-weight: bold;
    font-size: 150%;
    padding-bottom: 30px;
    font-family:'Lucida Handwriting','Brush Script MT';
    color: aqua;
}
.nav-link{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 100%;
    color: aqua;
}
img{
width:10%;
height:10%;
}